**
!docs/**
!README.md
!PROJECT_STATUS.md
!ARTIFACT_GUIDE.md
!FOUNDATION_MODEL_PLAN.md
!RESEARCH_ROADMAP.md
!XPERIENCE_EMBODIED_FOUNDATION_MODEL_PRETRAINING.md
!DATA_NOTICE.md
!LICENSE
!CITATION.cff
!Dockerfile
